useDynLib(SimTOST, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(plot,simss)
S3method(print,simss)
export(N_Mielke)
export(estSampleSize)
export(get_par)
export(launch_app)
export(plot.simss)
importFrom(data.table,.SD)
